.stats-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 20px;

    @media screen and (min-width: 1200px) {
        row-gap: 20px;
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 480px) {
        grid-template-columns: 1fr;
    }
}

.pills-container {
    width: 60%;

    @media screen and (max-width: 820px) {
        width: 100%;
    }
}

.legend-container {
    align-items: center;
    display: flex;

    .legend-square {
        border-radius: 4px;
        height: 16px;
        margin-right: 4px;
        width: 16px;

        &.color-1 {
            background-color: #67B6DC;
        }

        &.color-2 {
            background-color: #6794DC;
        }
    }

    .legend-label {
        color: #000000;
        font-size: 12px;
    }
}
