<div class="main-container mt-4">
    <div class="row">
        <!-- first campaign -->
        <div class="col-12 col-lg-6">
            <span class="h4 mb-2">
                {{ 'campaignComparator.firstCampaign' | translate }}
            </span>
            <app-campaign-comparator-filters (selectedFiltersChange)="filtersChange(1, $event)"
                (validFiltersChange)="validFiltersChange(1, $event)">
            </app-campaign-comparator-filters>
        </div>

        <!-- second campaign -->
        <div class="col-12 col-lg-6">
            <span class="h4 mb-2">
                {{ 'campaignComparator.secondCampaign' | translate }}
            </span>
            <app-campaign-comparator-filters (selectedFiltersChange)="filtersChange(2, $event)"
                (validFiltersChange)="validFiltersChange(2, $event)">
            </app-campaign-comparator-filters>
        </div>

        <div class="col-12 text-right">
            <button class="btn btn-primary" [disabled]="!validFilters.firstSelection || !validFilters.secondSelection"
                (click)="compareCampaigns()">
                {{ 'campaignComparator.compare' | translate }}
            </button>
        </div>
    </div>

    <ng-container *ngIf="firstSelection?.campaign && secondSelection?.campaign && showComparison">
        <div class="row mt-4">
            <!-- first campaign -->
            <div class="col-12 col-md-6">
                <span class="h4 mb-2 d-block d-lg-none d-xl-none">
                    {{ 'campaignComparator.firstCampaign' | translate }}
                </span>
                <div class="row">
                    <div *ngFor="let kpi of kpisCamps.camp1.kpis"
                        class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-xl-4">
                        <app-card-stat [stat]="kpi" [loader]="kpisCamps.camp1.reqStatus <= 1" [smallHeader]="true"
                            [reducedPadding]="true">
                        </app-card-stat>
                    </div>
                    <div class="col-12 mt--3 mt-xl-2" [hidden]="kpisCamps.camp1.reqStatus !== 3">
                        <p class="text-center text-muted mb-0">
                            {{ 'general.errorData' | translate }}
                        </p>
                    </div>
                </div>
            </div>

            <!-- second campaign -->
            <div class="col-12 col-md-6">
                <span class="h4 mb-2 d-block d-lg-none d-xl-none mt-4 mt-md-0">
                    {{ 'campaignComparator.secondCampaign' | translate }}
                </span>
                <div class="row">
                    <div *ngFor="let kpi of kpisCamps.camp2.kpis"
                        class="col-12 col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-xl-4">
                        <app-card-stat [stat]="kpi" [loader]="kpisCamps.camp2.reqStatus <= 1" [smallHeader]="true"
                            [reducedPadding]="true">
                        </app-card-stat>
                    </div>
                    <div class="col-12 mt--3 mt-xl-2" [hidden]="kpisCamps.camp2.reqStatus !== 3">
                        <p class="text-center text-muted mb-0">
                            {{ 'general.errorData' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-12">
                <p class="h2">{{ 'general.acquisition' | translate }}</p>
            </div>
        </div>

        <div class="row mt-3">
            <!-- first campaign -->
            <div class="col-12 col-lg-6 mb-4">
                <span class="h4 mb-2 d-block d-lg-none d-xl-none">
                    {{ 'campaignComparator.firstCampaign' | translate }}
                </span>
                <app-generic-table [displayedColumns]="acqCampTableColumns" [tableData]="acqCamps.camp1"
                    [tableDataChange]="acqCamps.camp1.data" [reducedPadding]="true">
                </app-generic-table>
            </div>

            <!-- second campaign -->
            <div class="col-12 col-lg-6 mb-4">
                <span class="h4 mb-2 d-block d-lg-none d-xl-none mt-4">
                    {{ 'campaignComparator.secondCampaign' | translate }}
                </span>
                <app-generic-table [displayedColumns]="acqCampTableColumns" [tableData]="acqCamps.camp2"
                    [tableDataChange]="acqCamps.camp2.data" [reducedPadding]="true">
                </app-generic-table>
            </div>
        </div>


        <div class="row mt-4">
            <div class="col-12">
                <p class="h2">{{ 'general.conversion' | translate }}</p>
            </div>
        </div>
        <div class="row mt-3">
            <!-- first campaign -->
            <div class="col-12 col-lg-6 mb-4">
                <span class="h4 mb-2 d-block d-lg-none d-xl-none">
                    {{ 'campaignComparator.firstCampaign' | translate }}
                </span>
                <app-generic-table [displayedColumns]="convCampTableColumns" [tableData]="convCamps.camp1"
                    [tableDataChange]="convCamps.camp1.data" [reducedPadding]="true">
                </app-generic-table>
            </div>

            <!-- second campaign -->
            <div class="col-12 col-lg-6 mb-4">
                <span class="h4 mb-2 d-block d-lg-none d-xl-none mt-4">
                    {{ 'campaignComparator.secondCampaign' | translate }}
                </span>
                <app-generic-table [displayedColumns]="convCampTableColumns" [tableData]="convCamps.camp2"
                    [tableDataChange]="convCamps.camp2.data" [reducedPadding]="true">
                </app-generic-table>
            </div>
        </div>
    </ng-container>
</div>