.card-stats {
    overflow: hidden;
    width: 100%;

    .card-body {
        padding: 0;
    }
    
    .metric-container {
        display: grid;
        gap: 16px;
        grid-template-columns: 1fr;
        height: calc(100% - 24px);
        padding: 1rem 1.5rem;

        @media screen and (min-width: 1200px) and (max-width: 1328px) {
            grid-template-columns: 1fr;
            .icon {
                display: none;
            }
    
            .card-title {
                line-height: 16px;
            }
        }
    
        .metric-details {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 0;
        
            span {
                display: inline-block;
            }
        }
        
        &.with-icon{
            grid-template-columns: 1fr auto;
        }

        &.with-submetric {
            overflow-y: auto;
        }

        .icon {
            height: 2rem;
            width: 2rem;
        }
    }
    
    .submetric-container {
        background-color: #f0f0f0;
        bottom: 0;
        position: absolute;
        width: 100%;
    
        .submetric-data {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            height: 25px;
            overflow: hidden;
            padding: 0.1rem 1.5rem;
            text-overflow: ellipsis;
        }

        .submetric-details {
            font-size: 13px;
            margin-bottom: 0;
           
            span {
                display: inline-block;
            }
        }
    }

    ::-webkit-scrollbar {
        width: 3px;
    }
}
