<div class="header bg-gradient-info pb-7 pt-8 pb-md-7 pt-md-9">
  <div class="container">
    <div class="header-body text-center mb-6">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Reset your password</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Enter your user account's verified email address and we will send you a password reset link.</small>
          </div>

          <form role="form" [formGroup]="form" (ngSubmit)="sendPswResetEmail(email.value)">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative is-invalid"
                [ngClass]="{'is-invalid': !email.valid && email.touched || !email.valid && email.touched}">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input [formControl]="email" class="form-control" placeholder="Email" type="email">
              </div>
              <small class="text-danger" *ngIf="!email.valid && email.touched || !email.valid && email.touched">
                Please provide a valid email.
              </small>
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary my-4" [disabled]="!form.valid">
                Send password reset email
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>