<div class="main-container mt-4">
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active bg-light' : activeTabView === 1}" (click)="activeTabView = 1">
                <span class="h2 text-muted py-2 ml-3 mr-3">Campaña hacia el retail</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active bg-light' : activeTabView === 2}" (click)="activeTabView = 2">
                <span class="h2 text-muted py-2 ml-3 mr-3">Campaña en el retail</span>
            </a>
        </li>
    </ul>

    <ng-container *ngIf="activeTabView === 1">
        Tab 1
    </ng-container>

    <ng-container *ngIf="activeTabView === 2">
        Tab 2
    </ng-container>
</div>