<div class="dashboard-container mt-4" id="print-section">

    <div class="container-fluid-lg" [hidden]="!title">
        <div class="row">
            <div class="col-11">
                <p class="h2 text-xl">{{ title }}</p>
            </div>
            <div class="col-1">
                <button class="btn btn-outline-primary btn-sm" [useExistingCss]="true" [printTitle]="title"
                    printSectionId="print-section" ngxPrint>
                    Imprimir
                </button>
            </div>
        </div>
    </div>
    <div class="filters-container container-fluid-lg" [hidden]="!showFilters">
        <app-general-filters></app-general-filters>
        <hr class="mt-3 mb-5">
    </div>

    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>