table {
    width: 100%;
}

.adaptable-container {
    overflow: auto;
}

.icon-shape {
    cursor: pointer;
    padding: 0;
    height: 20px;
    width: 20px;

    i {
        font-size: 12px;
    }
}
