.loader {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.loader span {
    background-color: #d7d7d7;
    border-radius: 100%;
    display: inline-block;
    height: 20px;
    margin: 0px 8px;
    opacity: 0;
    width: 20px;
}
  
.loader span:nth-child(1) {
    animation: opacitychange 1s ease-in-out infinite;
}
  
.loader span:nth-child(2) {
    animation: opacitychange 1s ease-in-out 0.33s infinite;
}
  
.loader span:nth-child(3) {
    animation: opacitychange 1s ease-in-out 0.66s infinite;
}
  
@keyframes opacitychange {
    0%, 100%{
      opacity: 0;
    }
  
    60%{
      opacity: 1;
    }
}
